* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  /* colors */
  --backg-color: black;
  --light-text: #e4e5ea;
  --dark-gray: #656566;

  /* fonts */
  --font-montserrat: "Montserrat", sans-serif;
  /* sizes */
  --main-page-size: 1140px;
  --mobile-size: 288px;
}
html {
  width: 100vw;
  height: 100vh;
  background-color: var(--backg-color);
}
